{% extends 'base.html' %}

{% block title %}Home 2{% endblock %}

{% block content %} 

{% load static %}

<link rel="stylesheet" href="{% static 'css/css-home.css' %}">

<section class="content">

    <div class="photo">
        
    </div>

    <div class="column">
        <div class="column__cont column__cont--right">
            <h1 class="title">
                Echa 2 un vistazo a nuestros productos
            </h1>
            <p>Visualiza todos los productos de nuestra
                empresa. ¡Te va encantar!</p>

            <button><span>Ver productos</span></button>
        </div>
        
        <div class="column__cont column__cont--left">
            <h1 class="title">
                Sube tus propios productos
            </h1>
            <p>Sube tus productos para que los demás
                vean lo vean.</p>

            <button><span>Subir productos</span></button>
        </div>
        </div>
    </div>

</section>
{% endblock content %} 