{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

{% load static %}

    <link rel="stylesheet" href="{% static 'css/css-home.css' %}">

    <section class="content">

        <div class="photo">
            
        </div>
        

        <div class="title">
            <h1>Pasea por nuestro sitio</h1>
            <div class="line"></div>
        </div>

        <div class="card">
            
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/store.jpg' %}" alt="">
                    <div class="row__content">
                        <p class="sub__title"><strong>Comparte tus productos</strong></p>
                        <p class="text_content">Comparte tus productos con el resto de los usuarios.</p>
                        
                        <div class="button">
                            <a href="{% url 'productList' %}">Compartir</a>
                        </div>
                    </div>
                    
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/store-2.jpg' %}" alt="">
                    <div class="row__content">
                        <p class="sub__title"><strong>Visualiza los productos</strong></p>
                        <p class="text_content">Entra y visualiza los productos de los demás.</p>
                        
                        <div class="button">
                            <a href="{% url 'productCreate' %}">Ver más</a>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        

        

    </section>

{% endblock content %}