{% extends 'base.html' %}

{% block title%} Home {% endblock%}

{% block content %}


{% load static %}


<link rel="stylesheet" href="{% static 'css/css-contacto.css' %}" enctype="multipart/form-data">

<section class="container">

    <form action="{% url 'email' %}" method="post"> {% csrf_token %}
        
        <h2>Crear Producto</h2>

        

        <div class="content">

            <div class="input-box">
                <label for="">Nombre</label>
                <input type="text" name="nombre" placeholder="Ingrese el nombre" required>
            </div>

            <div class="input-box">
                <label for="">Email</label>
                <input type="email" name="email" placeholder="Ingrese el email" required>
            </div>

            <div class="input-box">
                <label for="">Asunto</label>
                <input type="text" name="asunto" placeholder="Asunto" required>
            </div>

            <div class="input-box">
                <label for="">Mensaje</label>
                <input type="text" name="mensaje" placeholder="Ingrese el mensaje" required>
            </div>
        
        {% if messages %}
            <div class="error-message">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="button-container">
            <button type="submit">Enviar email</button>
        </div>

    </form>

</section>

{% endblock content %}