{% extends 'base.html' %}

{% block title%} Home {% endblock%}

{% block content %}


{% load static %}


<link rel="stylesheet" href="{% static 'css/css-contacto.css' %}" enctype="multipart/form-data">

<section class="container">

    <form action="{% url 'email' %}" method="post"> {% csrf_token %}
        
        <h2>Enviar Email</h2>

        

        <div class="content">

            <div class="input-box">
                <label for="">Nombre</label>
                <input type="text" name="nombre" placeholder="Ingrese el nombre" required>
            </div>

            <div class="input-box">
                <label for="">Email</label>
                <input type="email" name="email" placeholder="Ingrese el email" required>
            </div>

            <div class="input-box">
                <label for="">Asunto</label>
                <input type="text" name="asunto" placeholder="Asunto" required>
            </div>

            <div class="input-box">
                <label for="">Mensaje</label>
                <input type="text" name="mensaje" placeholder="Ingrese el mensaje" required>
            </div>
        
            {% if messages %}
            <div class="error-message">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="button-container">
            <button type="submit">Enviar email</button>
        </div>

    </form>

    {% if mensaje_exito %}
        <!-- Ventana modal de éxito -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="imagen">
                    <img src="{% static 'img/mail.png' %}" alt="" />
                </div>
                
                
                <p>{{ mensaje_exito }}</p>
                <div class="button">
                    <a class="accept" onclick="window.location.href='{% url 'home' %}'">Aceptar</a>
                </div>
                
            </div>
        </div>



        <!-- Script para mostrar la ventana modal automáticamente -->
        <script>
            window.onload = function () {
                var modal = document.getElementById('myModal');
                modal.style.display = 'block';

                // Cerrar la ventana modal al presionar Enter
                window.addEventListener('keypress', function (e) {
                    if (e.key === 'Enter') {
                        window.location.href = '{% url "home" %}';
                    }
                });
            }
        </script>
    {% endif %}

</section>

{% endblock content %}