{% extends 'base.html' %}

{% block title%} Home {% endblock%}

{% block content %}


{% load static %}


<link rel="stylesheet" href="{% static 'css/css-productDelete.css' %}" enctype="multipart/form-data">

<section class="container">

    <form action="" method="post"> {% csrf_token %}
        
        <h2>Eliminar Producto</h2>
        
        <div class="content">
            <div class="input-box">
                <label for="">Código</label>
                <input type="text" name="code" placeholder="Ingrese el codigo" required>
            
        </div>
        
        {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
        {% endif %}

        <div class="button-container">
            <button type="submit">Eliminar Producto</button>
        </div>

    </form>

    {% if mensaje_exito %}
        <!-- Ventana modal de éxito -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="imagen">
                    <img src="{% static 'img/check.png' %}" alt="" />
                </div>
                
                
                <p>{{ mensaje_exito }}</p>
                <div class="button">
                    <a class="accept" onclick="window.location.href='{% url 'home' %}'">Aceptar</a>
                </div>
                
            </div>
        </div>



        <!-- Script para mostrar la ventana modal automáticamente -->
        <script>
            window.onload = function () {
                var modal = document.getElementById('myModal');
                modal.style.display = 'block';

                // Cerrar la ventana modal al presionar Enter
                window.addEventListener('keypress', function (e) {
                    if (e.key === 'Enter') {
                        window.location.href = '{% url "home" %}';
                    }
                });
            }
        </script>
    {% endif %}

</section>

{% endblock content %}