{% extends 'base.html' %}



{% block title%} Product List {% endblock%}

{% block content%}
 
{% load static %}

<link rel="stylesheet" href="{% static 'css/css-productList.css' %}">


<section class="card__container">

    {% for producto in productos %}

        
        <div class="card">
            <img src="{% static 'img/avena.jpg'%}" alt="">
            <div class="card--content">
                <P class="title"><strong>Producto:</strong>  
                    <span class="sub--title">{{ producto.nombre_producto }}</span>
                </P>
                
                <P class="title"><strong>Stock:</strong> 
                    <span class="sub--title">{{ producto.stock }}</span>
                </P>
    
                <P class="title"><strong>Price:</strong> 
                    <span class="sub--title">{{ producto.precio }}</span>
                </P>
    
                <a href="" class="btn">Ver más</a>
            </div>
        </div>

    {% endfor %}
</section>
</body>
</html>


{% endblock content%}